header,
footer {
    text-align: center;
}

main {
    border-bottom: 2px solid;
    min-height: 65svh;
    padding-inline: 5svw;
    text-align: justify;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0px;
}

.navlink_current {
    border: 2px solid;
    padding-inline: 8px;
}

/* width <= 600 */
@media screen and (max-width: 600px) {

    header nav ul {
        display: block;
        align-items: center;
    }

    .navlink,
    .navlink_current {
        border: none;
        padding-inline: 0px;
        padding-block: 2px;
    }
}