header,
footer {
    text-align: center;
}

main {
    border-bottom: solid;
    min-height: 50svh;
    padding-inline: 5svw;
    text-align: justify;
}

header div nav ul {
    padding: 0px;
}

.navlink,
.navlink_current {
    padding-inline: 8px;
}

@media screen and (min-width: 600px) {

    .navlink,
    .navlink_current {
        display: inline;
    }

    .navlink {
        border: solid gray 2px;
    }

    .navlink_current {
        border: solid 2px;
    }
}