body {
    background-color: black;
    color: white;
}

footer a:link {
    color: white;
}

footer a:visited {
    color: lightgray;
}

.navlink a:link {
    color: white;
}

.navlink a:visited {
    color: lightgray;
}

.navlink {
    border: solid black 2px;
}

.navlink_current {
    border: solid white 2px;
    color: white;
}

@media screen and (max-width: 600px) {
    .navlink_current {
        border: none;
    }
}